
<form #form="ngForm" class="user_login" (ngSubmit)="loginHandler(form)">
  <fieldset>
    <h2>Login Form</h2>

    <p class="field field-icon">
      <label for="email"><span><i class="fas fa-envelope"></i></span></label>
      <input #emailInput="ngModel" ngModel class="input-error" required type="text" name="email" id="email"
        placeholder="email">
    </p>

    <ng-container *ngIf="emailInput.touched">
      <p class="error" *ngIf="emailInput.errors?.['required']">
        Email is required!
      </p>
    </ng-container>

    <p class="field field-icon">
      <label for="password"><span><i class="fas fa-lock"></i></span></label>
      <input type="password" #passwordInput="ngModel" ngModel name="password" id="password" placeholder="******"
        required>
    </p>
    <ng-container *ngIf="passwordInput.touched">
      <p class="error" *ngIf="passwordInput.errors?.['required']">
        Password is required!
      </p>
    </ng-container>

    <button [disabled]="form.invalid" class='main-button'>Login</button>

    <p class="text-center">
      Have no account?
      <a routerLink="/auth/register">Register</a>
    </p>

  </fieldset>
</form>